<div class="stepper">
    <div class="step completed">
        <div class="step-label"></div>
        <div class="step-description">Mulai Mendaki</div>
    </div>
    <div class="step active">
        <div class="step-label"></div>
        <div class="step-description">Mendaki</div>
    </div>
    <div class="step">
        <div class="step-label"></div>
        <div class="step-description">Selesai Mendaki</div>
    </div>

</div>